---
layout: default
title: Articoli
permalink: /articoli/
collection: articoli
---

<div class="container">
  <h1 class="text-primary text-center">Articoli</h1>
  {% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <h3>{{ category_name }}</h3>
  <div class="row">
    <!--colonne categoria-->
    {% for post in site.categories[category_name] %}
    <div class="col">

      <!--carta per post-->
      <div class="card bg-primary">
        <h2 class="card-title text-center">{{ post.title }}</h2>
        <a href="{{ post.url | prepend: site.baseurl }}"><img class="post-thumb card-img-top autore-avatar-link" src="{{ post.immagine }}" alt="{{ post.title }}"></a>
        <div class="card-body">
          <p class="card-text">{{ post.summary }}</p>
        </div>
      </div>
      <!--fine carta-->
    </div>
    {% endfor %}

  </div>
  <!--fine colonne cat-->
</div>
{% endfor %}
</div>
