<section id="news" class="py-1">

  <h1><i class="far fa-newspaper"></i> Le Ultime</h1>
  <hr />
  {% for post in paginator.posts %}
  <div>
    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <a href="{{ post.url | prepend: site.baseurl }}"><img class="home-thumb autore-avatar-link" src="{{ post.immagine }}" alt="{{ post.title }}"></a>
    <p class="text-info lead">
      {{ post.date | date: "%d %-b, %Y" }}
    </p>

    <p>
      {% if post.summary %}
      {{ post.summary }}
      {% else %}
      {{ post.excerpt }}
      {% endif %}
    </p>
  </div>
  {% endfor %}

  <div class="container">
    <a class="btn btn-primary" href="{{ site.baseurl }}/archivio/"><i class="fas fa-archive"></i> Archivio</a>
  </div>

</section>
