.nome-autore {
  color: $info !important;
  a {
    color: inherit !important;
  }
}

.autore-sfondo {
  background-image: linear-gradient($body-bg, $primary);
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: auto;
  max-width: 600px;
  text-shadow: 1px 2px 4px rgba(150, 150, 150, 0.50);
}

.autore-avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 5px;

    &:hover {
      opacity: 1;
    }
}

.autore-avatar-link {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
}
