---
layout: default
---

  <div id="post" class="container pt-3">
        <div class="text-center">
          <h1>{{ page.title }}</h1>
          <p class="lead text-info">
            {{ page.date | date: "%d %-b, %Y" }}
          </p>
          <figure class="figure">
            <img src="{{ page.immagine }}" class="post-thumb figure-img img-fluid rounded" alt="{{ page.title }}" title="{{ page.title }}">
          </figure>
        </div>
        <!--adsense-->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Radio Moguri -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1505772893706847"
             data-ad-slot="5404638991"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <hr / />
        <article>
          {{ content }}
        </article>
        {% assign author = site.authors | where: 'short_name', page.author | first %}
        {% if author %}
        {% include footer-autore.html %}
        {% endif %}
        {% include commenti.html %}
        <hr  />
  </div>
